.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: #f0f0f0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.player-item {
  text-align: center;
  border: 2px solid #ccc; 
  border-radius: 8px; 
  padding: 10px; 
  transition: box-shadow 0.3s;
  background-color: white;
}

.player-item img {
  width: 150px; 
  height: 150px; 
  display: block;
  margin: 0 auto; 
  border-radius: 18%; 
}

.player-item p {
  margin-top: 10px;
  font-weight: bold;
}

/* Add shadow effect */
.player-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Add hover effect on image */
.player-item:hover img {
  transform: scale(1.1); 
}

.heading{
  text-align: center;
  padding:20px;
}
